p.verso {
  color: blue;
}

p.mote {
  color: red;
}

a.link:visited {
    color: red;
}

a.link:hover {
    color: red;
}

div.poeta img{
    border-radius: 150px;
    padding: 20px;
    width: 200px;
    height: 200px; 
}

th {
    background-color: blueviolet;
    color: cadetblue;
}